.footer {
  height: 30px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pink);
  position: absolute;
  bottom: 0;
}
.footer > span > a {
  font-size: 16px;
  text-decoration: none;
  color: var(--black);
}
